# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Test and coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log